
.car {
    color: white;
    float: left;
    width: 33.333%;
    min-width: 165px;
    margin-right: 30px;
}

.expense-item__price {
    background-color: rgb(147, 203, 192);
    border-radius: 5px;
    color: black;
    padding: 1.5%;
    width: 20%;
    font-size: large;
    position: relative;
    text-align: center;
}


