.new-expense {
    background-color: rgba(162, 210, 206, 0.605);
    padding: 1rem;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 400px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 500px) {
    .new-expense {
        width: 400px;
        justify-content: center;
        position: relative;
    }
}
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border-style: none;
    background-color: rgb(176, 176, 176);
    border-radius: 5px;
    margin-right: 1rem;
    justify-content: center;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: rgb(64, 64, 64);
    color: white;
    transition: 0.5s;
  }
  
  .new-expense button.alternative {
    color: #ffffff;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: rgb(147, 203, 192);
  }