.expense-Contain {
    background-color: rgb(137, 136, 136);
    height: 75%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 1%;
    width: 95%;
    justify-content: center;
    border-bottom: 10px solid rgb(147, 203, 192);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    max-height: 800px;
} 

.ExpenseContain {
    background-color: rgba(0, 0, 0, 0.673);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    padding: 5px;
    padding-left: 25px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    max-height: 800px;
    overflow-y: scroll;

}

@media (max-width: 500px) {
    .ExpenseContain {
        width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
}